
<div class="wrapper_outer">
	<div class="wrapper">

		<section class="parallax_section">
			<div class="parallax_bg" style="background-image: url(../../../assets/img/img-la.jpg);"></div>
			<h2>CSS3 <br> Parallax Effect</h2>
		</section>


	</div>
</div>


